


#main_window{
    background-color: rgb(114, 89, 63);
}


#button1{
    color: black;
    font-family:Arial;
    font-weight: bold;
}

#spinbutton1, #spinbutton2 {
    margin-top: 10px;
    margin-right: 10px;
}

#label1, #label2, #label3{
    margin-top: 10px;
    color: white;
}

#radiobuttonshort, #radiobuttonlong {
    color: white;
}